<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>校园后勤管理系统</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Microsoft YaHei", Arial, sans-serif;
        background-image: url(http://localhost:8081/img/35e1b763c15645c1a6d674accf959f30.jpg);
        min-height: 100vh;
        background-size: cover;
        background-attachment: fixed;
      }

      

     
    </style>
  </head>
  <body>

    <!-- 主容器 -->


    <script>
      
      
    </script>
  </body>
</html>
