<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.we_are_team.school_background_service_system.mapper.LostAndFoundMapper">
    <update id="updateLostFoundByItemId">
        update lost_and_found
        <set>
            <if test="itemName != null">
                item_name = #{itemName},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="locationId != null">
                location_id = #{locationId},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="imageUrls != null">
                image_urls = #{imageUrls},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime},
            </if>
        </set>
        where item_id = #{itemId}
    </update>

    <select id="getLostAndFoundList" resultType="com.we_are_team.school_background_service_system.pojo.vo.GetLostAndFoundVO">
        select lf.item_id, lf.item_name, lf.description, lf.image_urls, lf.status,
        c.category_name as category_name,
        l.location_name as location_name
        from lost_and_found lf
        left join item_category c on lf.category_id = c.category_id
        left join location_category l on lf.location_id = l.location_id
        <where>
            <if test="orderKey != null and orderKey != ''">
                and (lf.item_id LIKE CONCAT('%', #{orderKey}, '%') )
            </if>
            <if test="beginTime != null">
                and lf.created_time >= #{beginTime}
            </if>
            <if test="endTime != null">
                and lf.created_time &lt;= #{endTime}
            </if>
            <if test="status != null and status != ''">
                and lf.status = #{status}
            </if>
        </where>
    </select>
    <select id="getLostAndFoundDetail" resultType="com.we_are_team.school_background_service_system.pojo.entity.LostAndFound">
        select lf.item_id, lf.item_name, lf.description, lf.image_urls, lf.status,lf.admin_id,
        c.category_name as category_name,
        l.location_name as location_name,
        lf.created_time, lf.updated_time
        from lost_and_found lf
        left join item_category c on lf.category_id = c.category_id
        left join location_category l on lf.location_id = l.location_id
        where lf.item_id = #{itemId}
    </select>
</mapper>