<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.we_are_team.school_background_service_system.mapper.NotificationMapper">
<select id="getNotificationList" resultType="com.we_are_team.school_background_service_system.pojo.vo.GetNotificationListVO">
    select notification.notification_id,notification.title,notification.publish_time from notification
    <where>
        <if test="orderKey != null and orderKey != ''">
            AND (notification.title LIKE '%${orderKey}%' OR notification.content LIKE '%${orderKey}%')
        </if>
        <if test="beginTime!=null">
            AND notification.publish_time >= #{beginTime}
        </if>
        <if test="endTime!=null">
            AND notification.publish_time &amp;gt= #{endTime}
        </if>
    </where>
    order by notification.publish_time desc
</select>



</mapper>