<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.we_are_team.school_background_service_system.mapper.UserMapper">
    <insert id="insert">
        insert into user(username,password,nickname,student_number) values(#{username},#{password},#{nickname},#{studentNumber})
    </insert>

    <select id="getUserByPasswordAndStudentNumberOrUsername" parameterType="User" resultType="User">
        SELECT * FROM user
        WHERE password = #{password} and (student_number = #{studentNumber} OR username = #{username})

    </select>



</mapper>